[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/papermanu/prezto
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = http://github.com/tmux-plugins/tpm.git
[submodule "ranger/plugins/ranger-archives"]
	path = ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git
